*{
    margin: 0;
    padding: 0;
        
}
.logo{

    border: none ! important;
    
       height: 400px;
       width: 500px;
       margin-right: 100px;
       position: relative;
       top: 60px;
       left: 100px;
   
   
   }
   .form-control{
       border-style: none;
       border-width: 25px;
       border-radius: 20px;
       background-color: rgb(158, 157, 157);
       overflow-x: hidden;
       height: 20%;
    color:rgb(99, 98, 98);
         
       
       
   }
   .btn{
       border-style: none;
       border-color: white;
       border-width: 20px;
       border-left-width: 27px;
       border-radius: 20px;
       background-color:#000000;
       bottom: 20%;
       
      
   
   }
.loginkanan{
    
    background: white;
    align-items: left;
    
    
}

   
   .from-label{
       background-color: rgb(253, 253, 255)
       ;
   }
   
   html{
   overflow-x: hidden;    
   overflow: hidden;
   }
   ::-webkit-scrollbar{
   width: 0px;
   }
   ::-webkit-scrollbar-thumb{
      
   }
   
   .text{
       align-items: flex-end;
   }
       
      
.logo{
    background-color: #1B1E32 ;
    top: 20%;
}
   
   .brand h3{
       font-family: 'EB Garamond', serif;
       
   }
   .w-50 {
       color: white;
   }
   .text-center{
       margin-top: 50px;
   }
