/* TNavbar kiri (Logo + Ruang Isyarat) */
.navbar-brand {
    font-family: 'EB Garamond', serif;
}

/* Logo Ruang Isyarat */
.navbar-brand img {
    border-radius: 1000px;
}

/* Menu navbar kanan */
.navbarkanan {
    font-family: 'Montserrat', sans-serif;
}

/* Menu Home */
.home {
    font-weight: 700;
}

/* Menu Kelas */
.kelas {
    font-weight: 700;
}


/* Menu Blog */
.blog {
    font-weight: 700;
    margin-right: 10px;
}

/* Button Login */
.login {
    color: white;
    background: #1B1E32;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 80px;
    height: 40px;
}

.login:hover {
    background: #F0F0F0;
    color: #1B1E32;
    border-color: #1B1E32;
}


/* Button register */
.register {
    background: #CFE3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 80px;
    height: 40px;
    padding-right: 78px;
}

.register:hover {
    background: #F0F0F0;
    color: #1B1E32;
    border-color: #1B1E32;
}


/* Blog-content */
img {
    text-align: center;
	align-items: center;
    max-width: 100%;
    height: auto;
   
}

.format-standard {
   width: 94%;
   max-width: 1200px;
   margin: 0 auto;
}

.format-standard:after {
   content: "";
   display: table;
   clear: both;
}

.format-standard .format-standard {
   width: auto;
   max-width: none;
   margin-left: -20px;
   margin-right: -20px;
}



.col-full {
   width: 100%;
}



p.lead {
    font-family: 'EB Garamond', serif;
   font-size: 35px;
   font-weight: 700;
   line-height: 1.8;
   text-align: center;
}

.heading-line {
	height: 3px;
	width: auto;
	background: #22263E;
	margin-bottom: 30px;
}

.s-content__main img {
   max-width: auto;
   margin-bottom: 20px;
   
}

.s-content__media {
	text-align: center;
}

.s-content__media img {
   vertical-align: bottom;
}

.s-content__media, .s-content__post-thumb {
   position: relative;
}